<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="/build/speccourse/speccourse.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<p>Hello world</p>

<div>
    <a href="api/equipment/list">Equipment list</a>
</div>
<div>
    <a href="api/equipment/nomenclatures">Nomenclature list</a>
</div>
<div>
    <a href="api/requests/list">Requests list</a>
</div>


<div id="root"></div>
<script src="/build/speccourse/speccourse.bundle.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
